
@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model ProfileViewModel
<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Account Inforation </h3>

                            <div class="form-outline mb-4">
                                <label class="form-label" asp-for="Username" disabled>User Name</label>
                                @Html.TextBoxFor(x=>x.Username, new{@class="form-control", @disabled="disabled"})
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" asp-for="Email">Email:</label>
                                @Html.TextBoxFor(x=>x.Email, new{@class="form-control", @disabled="disabled"})

                            </div>

                             <div class="form-outline mb-4">
                                <img src="~/photos/@Model.PhotoUrl" style="width:300px; height:250px;" />
                            </div>
                            <br />

                            <hr class="my-4">

                        </div>

                </div>
            </div>
        </div>
    </div>
</section>

